@import "tailwindcss";
@font-face {
  font-family: Segoe;
  src: url("../src/assets/fonts/Segoe UI.ttf");
}
@font-face {
  font-family: HWT;
  src: url("../src/assets/fonts/fonnts.com-HWT_Artz.otf");
}
@font-face {
  font-family: Asap;
  src: url("../src/assets/fonts/Asap-Regular.ttf");
}
@font-face {
  font-family: BebasNeue;
  src: url("../src/assets/fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Kanit;
  src: url("../src/assets/fonts/Kanit-Regular.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../src/assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Raleway;
  src: url("../src/assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter.ttf");
}

@theme {
  --font-Segoe: Segoe, "sans-serif";
  --font-HWT: HWT, "sans-serif";
  --font-Asap: Asap, "sans-serif";
  --font-BebasNeue: BebasNeue, "sans-serif";
  --font-Kanit: Kanit, "sans-serif";
  --font-Montserrat: Montserrat, "sans-serif";
  --font-Raleway: Raleway, "sans-serif";
  --font-Inter: Inter, "sans-serif";
}
html,
body {
  overflow-x: hidden;
}
